/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Muli");
/* line 5, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/style.scss */
body {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 9px;
  font-family: arial;
  font-size: 13px;
}

/* line 16, ../sass/style.scss */
.top_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: distribute;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0 10px;
}

/* line 27, ../sass/style.scss */
.top_header_400px_wrapper {
  display: none;
}

/* line 30, ../sass/style.scss */
.logo {
  max-width: 170px;
  width: 22%;
  height: 100px;
  background: url(https://image.ibb.co/kkcJZc/logo.png) no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
}
/* line 37, ../sass/style.scss */
.logo a {
  width: 100%;
  height: 40px;
}

/* line 42, ../sass/style.scss */
.phone_search {
  max-width: 345px;
  width: 35%;
}

/* line 46, ../sass/style.scss */
.city_code {
  font-size: 22.7px;
  font-style: italic;
}

/* line 50, ../sass/style.scss */
.main_number {
  font-size: 34.15px;
  font-style: italic;
  font-weight: bold;
}

/* line 55, ../sass/style.scss */
.call_back {
  font-size: 13px;
  color: #105a8f;
  font-style: italic;
  text-decoration: none;
  border-bottom: 1px dashed #105a8f;
  vertical-align: top;
  margin-left: 9px;
}

/* line 64, ../sass/style.scss */
.call_back:hover {
  border-bottom: none;
}

/* line 67, ../sass/style.scss */
.search {
  margin-top: 19px;
  max-width: 320px;
  width: 100%;
  height: 25px;
  background: url(https://image.ibb.co/mtb1nx/search_field.png) no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

/* line 76, ../sass/style.scss */
.search input {
  outline: none;
  border: none;
}

/* line 80, ../sass/style.scss */
.search input[type="text"] {
  width: 70%;
  height: 64%;
  margin-top: 3px;
  margin-left: 5%;
}

/* line 86, ../sass/style.scss */
.search input[type="button"] {
  background: url(https://image.ibb.co/g0Ai0H/search_button.png) 100% 100% no-repeat;
  width: 22%;
  height: 23px;
  float: right;
  margin-top: 0px;
  margin-right: 2px;
  cursor: pointer;
}

/* line 95, ../sass/style.scss */
.search input[type="button"]:hover {
  opacity: 0.9;
  cursor: pointer;
  outline: none;
}

/* line 100, ../sass/style.scss */
.search input[type="button"]:focus {
  opacity: 1;
  cursor: pointer;
  outline: none;
}

/* line 105, ../sass/style.scss */
.search input[type="button"]:active {
  opacity: 0.9;
  cursor: pointer;
  outline: none;
}

/* line 110, ../sass/style.scss */
.online_help input[type="button"] {
  background: url(https://image.ibb.co/hmOsuc/online_help.png) 100% 100% no-repeat;
  width: 100px;
  height: 100px;
  border: none;
  margin-top: -8px;
}

/* line 118, ../sass/style.scss */
.online_help input[type="button"]:hover {
  opacity: 0.9;
  cursor: pointer;
  outline: none;
}

/* line 123, ../sass/style.scss */
.online_help input[type="button"]:focus {
  opacity: 1;
  cursor: pointer;
  outline: none;
}

/* line 128, ../sass/style.scss */
.online_help input[type="button"]:active {
  opacity: 0.9;
  cursor: pointer;
  outline: none;
}

/* line 133, ../sass/style.scss */
.basket_enter {
  max-width: 230px;
  width: 30%;
}

/* line 137, ../sass/style.scss */
.enter {
  width: 100%;
}

/* line 140, ../sass/style.scss */
.enter img {
  vertical-align: bottom;
}

/* line 143, ../sass/style.scss */
.enter_big_screen, .enter_little_screen {
  font-size: 1em;
  color: #105a8f;
  font-style: italic;
  text-decoration: none;
  border-bottom: 1px dashed #105a8f;
  margin-left: 10px;
  display: inline-block;
  line-height: 1.3s;
}

/* line 153, ../sass/style.scss */
.enter .enter_little_screen {
  display: none;
}

/* line 156, ../sass/style.scss */
.basket_400px {
  display: none;
}

/* line 159, ../sass/style.scss */
.basket {
  width: 225px;
  height: 55px;
  background: none;
  border: 1px solid #cecdcd;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 173, ../sass/style.scss */
.main_basket {
  width: 180px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  background: none;
  border: none;
}

/* line 184, ../sass/style.scss */
.main_basket:hover {
  opacity: 0.8;
}

/* line 187, ../sass/style.scss */
.main_basket:active {
  outline: 1px solid #cecdcd;
}

/* line 190, ../sass/style.scss */
.main_basket:focus {
  outline: 1px solid #cecdcd;
}

/* line 193, ../sass/style.scss */
.basket_img {
  width: 39px;
  height: 39px;
  background: url(https://image.ibb.co/gD3suc/basket_img.png) no-repeat;
  border: none;
  margin: -1px 0 0 10px;
  cursor: pointer;
}

/* line 201, ../sass/style.scss */
.basket_text {
  font-size: 23px;
  font-style: italic;
  border-bottom: 2px solid #45749f;
  color: #105a8f;
  vertical-align: bottom;
  font-weight: 900;
  font-family: arial;
  margin-left: 5px;
}

/* line 211, ../sass/style.scss */
.drop_basket {
  width: 45px;
  height: 55px;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
}
/* line 219, ../sass/style.scss */
.drop_basket img {
  padding-top: 5px;
}
/* line 222, ../sass/style.scss */
.drop_basket ul {
  position: absolute;
  top: 100%;
  width: 223px;
  left: -179px;
  display: none;
}
/* line 228, ../sass/style.scss */
.drop_basket ul li {
  height: 50px;
  padding-top: 5px;
}

/* line 234, ../sass/style.scss */
.drop_basket:hover ul {
  display: block;
  border: 1px solid #cecdcd;
  background: #fff;
}
/* line 239, ../sass/style.scss */
.drop_basket:hover ul li {
  border-bottom: 1px solid #cecdcd;
  font-size: 23px;
  font-style: italic;
  vertical-align: bottom;
  font-weight: 600;
  font-family: arial;
}
/* line 246, ../sass/style.scss */
.drop_basket:hover ul li a {
  text-decoration: none;
  color: #105a8f;
}

/* line 252, ../sass/style.scss */
.drop_basket:focus {
  outline: none;
}

/* line 255, ../sass/style.scss */
.drop_basket:active {
  outline: none;
}

/* line 260, ../sass/style.scss */
.nav_header ul {
  margin: 12px 0 0 10px;
}
/* line 262, ../sass/style.scss */
.nav_header ul li {
  display: inline-block;
}
/* line 264, ../sass/style.scss */
.nav_header ul li a {
  text-decoration: none;
  line-height: 1.3;
  border-bottom: 1px solid #105a8f;
  color: #105a8f;
  font-size: 13px;
  font-family: arial;
  margin: 0 12px 0 0;
}
/* line 273, ../sass/style.scss */
.nav_header ul li a:hover {
  border-bottom: none;
}
/* line 277, ../sass/style.scss */
.nav_header ul img {
  margin: 0 0 -4px 0;
}

/* line 284, ../sass/style.scss */
nav {
  margin: 20px 10px 0 10px;
}

/* line 287, ../sass/style.scss */
.nav_large_screen {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid #246188;
  border-bottom: 1px solid #246188;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 300, ../sass/style.scss */
.nav_large_screen li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
/* line 306, ../sass/style.scss */
.nav_large_screen li .nav_menu {
  background: -webkit-gradient(linear, left bottom, left top, from(#044977), to(#186ca3));
  background: -webkit-linear-gradient(bottom, #044977, #186ca3);
  background: -o-linear-gradient(bottom, #044977, #186ca3);
  background: linear-gradient(to top, #044977, #186ca3);
  height: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px 0 10%;
  text-decoration: none;
  color: #fff;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-family: arial;
  font-size: 115%;
  line-height: 1.2;
  border-top: 1px solid #5e9bc2;
  border-right: 1px solid #164b6e;
  border-bottom: 1px solid #3e87b7;
  border-left: 1px solid #2f6d94;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/* line 334, ../sass/style.scss */
.nav_large_screen li .nav_menu span {
  padding-top: 10px;
}
/* line 339, ../sass/style.scss */
.nav_large_screen li .nav_menu img {
  width: 11px;
  height: 11px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
/* line 349, ../sass/style.scss */
.nav_large_screen li a:hover {
  opacity: 0.9;
}
/* line 352, ../sass/style.scss */
.nav_large_screen li a:focus {
  opacity: 1;
}
/* line 355, ../sass/style.scss */
.nav_large_screen li a:active {
  opacity: 0.8;
  outline: none;
}

/* line 361, ../sass/style.scss */
.ie10 .nav_menu span {
  display: block;
}

/* line 364, ../sass/style.scss */
.nav_first_child:first-child {
  border-left: none;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}

/* line 369, ../sass/style.scss */
.nav_last_child:last-child {
  border-right: none;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

/* line 377, ../sass/style.scss */
main {
  margin: 30px 10px 0 10px;
  border-bottom: 2px solid #ffffff;
  -webkit-box-shadow: inset 0px -162px 86px -200px #175b8e;
  box-shadow: inset 0px -162px 86px -200px #175b8e;
}

/* line 383, ../sass/style.scss */
.first_article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
}

/* line 394, ../sass/style.scss */
.first_slider {
  width: 65%;
}

/* line 397, ../sass/style.scss */
.slider_1 {
  overflow: hidden;
  width: 100%;
}

/* line 401, ../sass/style.scss */
.slider_1 input {
  display: none;
}

/* line 404, ../sass/style.scss */
#slides {
  width: 500%;
  max-height: 240px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 412, ../sass/style.scss */
.page_slider_1 {
  width: 100%;
  max-height: 225px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 7px solid #689cbe;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: url(https://preview.ibb.co/jqXwLH/first_slider.png) no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

/* line 426, ../sass/style.scss */
.page_slider_1 div {
  margin-left: 30px;
}

/* line 429, ../sass/style.scss */
.page_slider_1 h1 {
  font-family: 'Muli', Arial, sans-serif;
  font-size: 30.61px;
  color: #6640c7;
  line-height: 1.15;
  margin: 0 auto;
  margin-top: 10px;
}

/* line 437, ../sass/style.scss */
.page_slider_1 p {
  color: #333333;
  font-family: 'Muli', Arial, sans-serif;
  font-size: 17px;
  line-height: 1.3;
  font-weight: 500;
  margin: 5px 0 10px 0;
}

/* line 445, ../sass/style.scss */
.page_slider_1 button {
  height: 45px;
  width: 275px;
  background: -webkit-linear-gradient(100deg, #63047d 45%, #a90fd5 60%, #20c4d0);
  background: -o-linear-gradient(100deg, #63047d 45%, #a90fd5 60%, #20c4d0);
  background: linear-gradient(350deg, #63047d 45%, #a90fd5 60%, #20c4d0);
  -webkit-box-shadow: 1px 1px 1px #686868, -1px -1px 1px #686868;
  box-shadow: 1px 1px 1px #686868, -1px -1px 1px #686868;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 30px;
}

/* line 461, ../sass/style.scss */
.page_slider_1 button:hover {
  opacity: 0.9;
}

/* line 464, ../sass/style.scss */
.page_slider_1 button:active {
  opacity: 0.5;
  outline: none;
}

/* line 468, ../sass/style.scss */
.page_slider_1 button:focus {
  opacity: 1;
  outline: none;
}

/* line 472, ../sass/style.scss */
#active {
  margin-left: 7px;
}

/* line 475, ../sass/style.scss */
#active label {
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  line-height: 2.5;
  text-decoration: none;
  margin: -7px 2px 0 0;
  font-family: arial;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  width: 18px;
  height: 25px;
  background: #689cbe;
  border-left: 2px solid #689cbe;
  border-right: 2px solid #689cbe;
  border-bottom: 2px solid #689cbe;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

/* line 495, ../sass/style.scss */
#active label:hover {
  color: #333;
}

/* line 499, ../sass/style.scss */
#slide_1:checked ~ #active label:nth-child(1),
#slide_2:checked ~ #active label:nth-child(2),
#slide_3:checked ~ #active label:nth-child(3),
#slide_4:checked ~ #active label:nth-child(4),
#slide_5:checked ~ #active label:nth-child(5) {
  background: #fff;
  color: red;
}

/* line 507, ../sass/style.scss */
#slide_1:checked ~ #slides {
  margin-left: 0;
}

/* line 510, ../sass/style.scss */
#slide_2:checked ~ #slides {
  margin-left: -100%;
}

/* line 513, ../sass/style.scss */
#slide_3:checked ~ #slides {
  margin-left: -200%;
}

/* line 516, ../sass/style.scss */
#slide_4:checked ~ #slides {
  margin-left: -300%;
}

/* line 519, ../sass/style.scss */
#slide_5:checked ~ #slides {
  margin-left: -400%;
}

/* line 522, ../sass/style.scss */
.shares {
  margin-left: 50px;
  min-width: 33%;
}

/* line 526, ../sass/style.scss */
.shares_caption {
  font-family: arial;
  font-size: 25px;
  font-style: italic;
  color: #d10000;
  font-weight: 900;
  line-height: 0.7;
}

/* line 534, ../sass/style.scss */
.share {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  line-height: 1.5;
  font-size: 13px;
}
/* line 542, ../sass/style.scss */
.share img {
  margin-right: 20px;
  width: 40px;
  height: 40px;
}
/* line 547, ../sass/style.scss */
.share a {
  color: #105a8f;
  text-decoration: none;
  border-bottom: 1px solid #105a8f;
  line-height: 1.5;
}
/* line 553, ../sass/style.scss */
.share a:visited {
  color: #6611cc;
  border-bottom: 1px solid #6611cc;
}

/* line 558, ../sass/style.scss */
.shares_button {
  margin-top: 15px;
  width: 125px;
  height: 28px;
  border: none;
  background: url(https://image.ibb.co/k44yZc/shares_button.png);
  cursor: pointer;
}

/* line 566, ../sass/style.scss */
.shares_button:active {
  outline: none;
}

/* line 569, ../sass/style.scss */
.shares_button:focus {
  outline: none;
}

/* line 572, ../sass/style.scss */
.shares_button:hover {
  opacity: 0.8;
}

/* line 578, ../sass/style.scss */
.second_article {
  margin: 0 0 40px 0;
}
/* line 580, ../sass/style.scss */
.second_article #tab_1, .second_article #tab_2, .second_article #tab_3, .second_article #tab_4, .second_article .tab {
  display: none;
}
/* line 583, ../sass/style.scss */
.second_article label {
  font-family: arial;
  font-size: 18px;
  color: #105a8f;
  border-bottom: 1px dashed #105a8f;
  font-style: italic;
  font-weight: 900;
  margin-right: 30px;
}
/* line 592, ../sass/style.scss */
.second_article input[type="radio"]:checked + label {
  border: 1px solid #689cbe;
  border-bottom: none;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  padding: 10px 25px 10px 20px;
  font-size: 20px;
  color: #d10000;
  background: -webkit-gradient(linear, left bottom, left top, from(#fefdfd), color-stop(#eeeeee), to(#f9f9f9));
  background: -webkit-linear-gradient(bottom, #fefdfd, #eeeeee, #f9f9f9);
  background: -o-linear-gradient(bottom, #fefdfd, #eeeeee, #f9f9f9);
  background: linear-gradient(to top, #fefdfd, #eeeeee, #f9f9f9);
}
/* line 605, ../sass/style.scss */
.second_article input[type="radio"]:hover + label {
  border-bottom: none;
}

/* line 609, ../sass/style.scss */
.second_article > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.second_article > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.second_article > input:nth-of-type(3):checked ~ div:nth-of-type(3),
.second_article > input:nth-of-type(4):checked ~ div:nth-of-type(4) {
  display: block;
}

/* line 615, ../sass/style.scss */
.tab {
  width: 100%;
  border: 1px solid #689cbe;
  margin-top: 12px;
  -webkit-border-radius: 0 5px 5px 5px;
  border-radius: 0 5px 5px 5px;
}

/* line 623, ../sass/style.scss */
.special_offer {
  float: right;
  border: none;
  background: url(https://image.ibb.co/bNm1nx/tab_1_special_offer.png);
  height: 27px;
  width: 220px;
  margin: 5px 73px 10px 0;
  cursor: pointer;
}

/* line 632, ../sass/style.scss */
.special_offer:active {
  outline: none;
}

/* line 635, ../sass/style.scss */
.special_offer:focus {
  outline: none;
}

/* line 638, ../sass/style.scss */
.special_offer:hover {
  opacity: 0.8;
}

/* line 641, ../sass/style.scss */
.tab input {
  display: none;
}

/* line 644, ../sass/style.scss */
.tab {
  min-height: 334px;
}

/* line 647, ../sass/style.scss */
.articles_tab_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0 5px 0 10px;
  width: 200%;
}

/* line 655, ../sass/style.scss */
_:-ms-lang(x), .articles_tab_1 {
  float: left;
  position: relative;
}

/* line 659, ../sass/style.scss */
.ie10 .overflow_1 {
  position: relative;
}

/* line 662, ../sass/style.scss */
#overflow_1 {
  width: 93%;
  overflow: hidden;
  margin: 0 0 0 40px;
}

/* line 668, ../sass/style.scss */
#product_tab_1_1:checked ~ .controls_tab_1 label:nth-child(5),
#product_tab_1_2:checked ~ .controls_tab_1 label:nth-child(1),
#product_tab_1_3:checked ~ .controls_tab_1 label:nth-child(2),
#product_tab_1_4:checked ~ .controls_tab_1 label:nth-child(3),
#product_tab_1_5:checked ~ .controls_tab_1 label:nth-child(4) {
  background: url(https://image.ibb.co/fgX7Sx/tab_1_arrow_left_active.png) no-repeat;
  float: left;
  border: none;
  margin: 100px 0 0 5px;
  display: block;
  height: 68px;
  width: 20px;
}

/* line 682, ../sass/style.scss */
#product_tab_1_1:checked ~ .controls_tab_1 label:nth-child(2),
#product_tab_1_2:checked ~ .controls_tab_1 label:nth-child(3),
#product_tab_1_3:checked ~ .controls_tab_1 label:nth-child(4),
#product_tab_1_4:checked ~ .controls_tab_1 label:nth-child(5),
#product_tab_1_5:checked ~ .controls_tab_1 label:nth-child(1) {
  background: url(https://image.ibb.co/kbHJZc/tab_1_arrow_right_active.png) no-repeat;
  display: block;
  margin: 100px -287px 0 0;
  float: right;
  height: 68px;
  width: 20px;
  border: none;
}

/* line 695, ../sass/style.scss */
_:-ms-lang(x),
#product_tab_1_1:checked ~ .controls_tab_1 label:nth-child(2),
#product_tab_1_2:checked ~ .controls_tab_1 label:nth-child(3),
#product_tab_1_3:checked ~ .controls_tab_1 label:nth-child(4),
#product_tab_1_4:checked ~ .controls_tab_1 label:nth-child(5),
#product_tab_1_5:checked ~ .controls_tab_1 label:nth-child(1) {
  position: absolute;
  margin: 100px 0 0 1150px;
  display: block;
}

/* line 706, ../sass/style.scss */
.ie10 #product_tab_1_1:checked ~ .controls_tab_1 label:nth-child(2),
.ie10 #product_tab_1_2:checked ~ .controls_tab_1 label:nth-child(3),
.ie10 #product_tab_1_3:checked ~ .controls_tab_1 label:nth-child(4),
.ie10 #product_tab_1_4:checked ~ .controls_tab_1 label:nth-child(5),
.ie10 #product_tab_1_5:checked ~ .controls_tab_1 label:nth-child(1) {
  position: absolute;
  margin: 100px 0 0 0;
  right: 375px;
  display: block;
}

/* line 716, ../sass/style.scss */
#product_tab_1_1:checked ~ #overflow_1 .articles_tab_1 {
  margin-left: 0;
}

/* line 720, ../sass/style.scss */
#product_tab_1_2:checked ~ #overflow_1 .articles_tab_1 {
  margin-left: -20%;
}

/* line 724, ../sass/style.scss */
#product_tab_1_3:checked ~ #overflow_1 .articles_tab_1 {
  margin-left: -40%;
}

/* line 728, ../sass/style.scss */
#product_tab_1_4:checked ~ #overflow_1 .articles_tab_1 {
  margin-left: -60%;
}

/* line 732, ../sass/style.scss */
#product_tab_1_5:checked ~ #overflow_1 .articles_tab_1 {
  margin-left: -80%;
}

/* line 735, ../sass/style.scss */
.product {
  width: 20%;
  margin-left: 3px;
  margin-right: 20px;
  margin-bottom: 30px;
}

/* line 741, ../sass/style.scss */
.stock_description {
  font-family: arial;
  font-size: 13px;
  color: #d10000;
  line-height: 1.4;
  vertical-align: bottom;
}

/* line 748, ../sass/style.scss */
.product_name {
  font-family: arial;
  font-size: 13px;
  color: #105a8f;
  line-height: 2;
  font-weight: 600;
}

/* line 755, ../sass/style.scss */
.old_price {
  font-family: arial;
  font-size: 13px;
  color: #999999;
  text-decoration: line-through;
  -webkit-text-decoration-color: #d10000;
  text-decoration-color: #d10000;
  font-weight: 600;
}

/* line 764, ../sass/style.scss */
.product_price {
  border: none;
  background: url(https://image.ibb.co/bxvGLH/product_price_button.png);
  width: 135px;
  height: 28px;
  font-family: arial;
  font-size: 18px;
  color: #333333;
  font-weight: 600;
  text-align: left;
  margin-left: -10px;
  cursor: pointer;
}
/* line 776, ../sass/style.scss */
.product_price b {
  margin-left: 7px;
}
/* line 779, ../sass/style.scss */
.product_price span {
  font-size: 13px;
}

/* line 783, ../sass/style.scss */
.product_price:hover {
  opacity: 0.9;
}

/* line 786, ../sass/style.scss */
.product_price:focus {
  opacity: 1;
  outline: none;
}

/* line 790, ../sass/style.scss */
.product_price:active {
  opacity: 0.8;
}

/* line 793, ../sass/style.scss */
.currency {
  font-family: arial;
  font-size: 11px;
  color: #5c9559;
}

/* line 801, ../sass/style.scss */
.third_article_head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/* line 810, ../sass/style.scss */
.third_article_head p {
  font-family: arial;
  font-size: 15px;
  line-height: 2;
  color: #333333;
  font-style: oblique;
  font-weight: 600;
}
/* line 818, ../sass/style.scss */
.third_article_head button {
  border: none;
  background: url(https://image.ibb.co/cuFY0H/third_article_button.png);
  height: 28px;
  width: 200px;
  cursor: pointer;
}
/* line 825, ../sass/style.scss */
.third_article_head button:hover {
  opacity: 0.9;
}
/* line 828, ../sass/style.scss */
.third_article_head button:focus {
  opacity: 1;
  outline: none;
}
/* line 832, ../sass/style.scss */
.third_article_head button:active {
  opacity: 0.8;
  outline: none;
}

/* line 837, ../sass/style.scss */
.mfr_little_screen_1, .mfr_little_screen_2 {
  display: none;
}

/* line 840, ../sass/style.scss */
.mfr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #dddcdc;
  margin-bottom: 30px;
  margin-top: 20px;
}
/* line 848, ../sass/style.scss */
.mfr a {
  font-size: 11px;
  font-family: arial;
  color: #105a8f;
  line-height: 1.9;
}
/* line 854, ../sass/style.scss */
.mfr a:hover {
  color: #d10000;
}
/* line 857, ../sass/style.scss */
.mfr a:active {
  text-decoration: none;
}
/* line 860, ../sass/style.scss */
.mfr table {
  margin-bottom: 30px;
  width: 25%;
}
/* line 864, ../sass/style.scss */
.mfr ul {
  margin-top: 30px;
}
/* line 867, ../sass/style.scss */
.mfr td {
  width: 50%;
}

/* line 871, ../sass/style.scss */
.mfr_1_img_1 {
  width: 150px;
  height: 60px;
  background: url(https://image.ibb.co/jfoQEc/mfr_sprite.png) no-repeat;
  background-position: 20px 0;
  -webkit-box-shadow: 1px 1px 0 #dddcdc;
  box-shadow: 1px 1px 0 #dddcdc;
}

/* line 880, ../sass/style.scss */
.mfr_1_img_2 {
  width: 150px;
  height: 60px;
  background: url(https://image.ibb.co/jfoQEc/mfr_sprite.png) no-repeat;
  background-position: -120px 0;
  -webkit-box-shadow: 0 1px 0 #dddcdc;
  box-shadow: 0 1px 0 #dddcdc;
}

/* line 888, ../sass/style.scss */
.mfr_1_img_3 {
  width: 150px;
  height: 60px;
  background: url(https://image.ibb.co/jfoQEc/mfr_sprite.png) no-repeat;
  background-position: 20px -65px;
  -webkit-box-shadow: 1px 0 0 #dddcdc;
  box-shadow: 1px 0 0 #dddcdc;
}

/* line 896, ../sass/style.scss */
.mfr_1_img_4 {
  width: 150px;
  height: 60px;
  background: url(https://image.ibb.co/jfoQEc/mfr_sprite.png) no-repeat;
  background-position: -120px -65px;
}

/* line 902, ../sass/style.scss */
.mfr_2_img_1 {
  width: 150px;
  height: 60px;
  background: url(https://image.ibb.co/jfoQEc/mfr_sprite.png) no-repeat;
  background-position: -280px 0;
  -webkit-box-shadow: 1px 1px 0 #dddcdc;
  box-shadow: 1px 1px 0 #dddcdc;
}

/* line 910, ../sass/style.scss */
.mfr_2_img_2 {
  width: 150px;
  height: 60px;
  background: url(https://image.ibb.co/jfoQEc/mfr_sprite.png) no-repeat;
  background-position: -420px 0;
  -webkit-box-shadow: 0 1px 0 #dddcdc;
  box-shadow: 0 1px 0 #dddcdc;
}

/* line 918, ../sass/style.scss */
.mfr_2_img_3 {
  width: 150px;
  height: 60px;
  background: url(https://image.ibb.co/jfoQEc/mfr_sprite.png) no-repeat;
  background-position: -280px -65px;
  -webkit-box-shadow: 1px 0 0 #dddcdc;
  box-shadow: 1px 0 0 #dddcdc;
}

/* line 926, ../sass/style.scss */
.mfr_2_img_4 {
  width: 150px;
  height: 60px;
  background: url(https://image.ibb.co/jfoQEc/mfr_sprite.png) no-repeat;
  background-position: -420px -65px;
}

/* line 932, ../sass/style.scss */
.mfr_3_img_1 {
  width: 150px;
  height: 60px;
  background: url(https://image.ibb.co/jfoQEc/mfr_sprite.png) no-repeat;
  background-position: -580px 0;
  -webkit-box-shadow: 1px 1px 0 #dddcdc;
  box-shadow: 1px 1px 0 #dddcdc;
}

/* line 940, ../sass/style.scss */
.mfr_3_img_2 {
  width: 150px;
  height: 60px;
  background: url(https://image.ibb.co/jfoQEc/mfr_sprite.png) no-repeat;
  background-position: -720px 0;
  -webkit-box-shadow: 0 1px 0 #dddcdc;
  box-shadow: 0 1px 0 #dddcdc;
}

/* line 948, ../sass/style.scss */
.mfr_3_img_3 {
  width: 150px;
  height: 60px;
  background: url(https://image.ibb.co/jfoQEc/mfr_sprite.png) no-repeat;
  background-position: -580px -65px;
  -webkit-box-shadow: 1px 0 0 #dddcdc;
  box-shadow: 1px 0 0 #dddcdc;
}

/* line 956, ../sass/style.scss */
.mfr_3_img_4 {
  width: 150px;
  height: 60px;
  background: url(https://image.ibb.co/jfoQEc/mfr_sprite.png) no-repeat;
  background-position: -720px -65px;
}

/* line 962, ../sass/style.scss */
.mfr_4_img_1 {
  width: 150px;
  height: 60px;
  background: url(https://image.ibb.co/jfoQEc/mfr_sprite.png) no-repeat;
  background-position: -880px 0;
  -webkit-box-shadow: 1px 1px 0 #dddcdc;
  box-shadow: 1px 1px 0 #dddcdc;
}

/* line 970, ../sass/style.scss */
.mfr_4_img_2 {
  width: 150px;
  height: 60px;
  background: url(https://image.ibb.co/jfoQEc/mfr_sprite.png) no-repeat;
  background-position: -1020px 0;
  -webkit-box-shadow: 0 1px 0 #dddcdc;
  box-shadow: 0 1px 0 #dddcdc;
}

/* line 978, ../sass/style.scss */
.mfr_4_img_3 {
  width: 150px;
  height: 60px;
  background: url(https://image.ibb.co/jfoQEc/mfr_sprite.png) no-repeat;
  background-position: -880px -65px;
  -webkit-box-shadow: 1px 0 0 #dddcdc;
  box-shadow: 1px 0 0 #dddcdc;
}

/* line 986, ../sass/style.scss */
.mfr_4_img_4 {
  width: 150px;
  height: 60px;
  background: url(https://image.ibb.co/jfoQEc/mfr_sprite.png) no-repeat;
  background-position: -1020px -65px;
}

/* line 992, ../sass/style.scss */
.mfr_2 {
  margin-top: -5px;
}
/* line 994, ../sass/style.scss */
.mfr_2 ul {
  margin-top: 35px;
}

/* line 998, ../sass/style.scss */
.mfr_3 {
  margin-top: 5px;
}
/* line 1000, ../sass/style.scss */
.mfr_3 ul {
  margin-top: 25px;
}

/* line 1007, ../sass/style.scss */
.fourth_article_head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 30px;
}
/* line 1017, ../sass/style.scss */
.fourth_article_head p {
  font-family: arial;
  font-size: 20px;
  color: #333333;
  font-weight: 900;
  font-style: oblique;
}
/* line 1024, ../sass/style.scss */
.fourth_article_head button {
  border: none;
  background: url(https://image.ibb.co/j7VSSx/fourth_article_button.png);
  height: 28px;
  width: 237px;
  cursor: pointer;
}
/* line 1031, ../sass/style.scss */
.fourth_article_head button:hover {
  opacity: 0.9;
}
/* line 1034, ../sass/style.scss */
.fourth_article_head button:focus {
  opacity: 1;
  outline: none;
}
/* line 1038, ../sass/style.scss */
.fourth_article_head button:active {
  opacity: 0.8;
  outline: none;
}

/* line 1043, ../sass/style.scss */
.reviews {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 130px;
}

/* line 1055, ../sass/style.scss */
.review {
  width: 20%;
  margin-right: 5%;
}
/* line 1058, ../sass/style.scss */
.review img {
  display: block;
}
/* line 1061, ../sass/style.scss */
.review a {
  font-family: arial;
  font-size: 15px;
  color: #105a8f;
  line-height: 1.33;
}
/* line 1067, ../sass/style.scss */
.review a:hover {
  color: #d10000;
}
/* line 1070, ../sass/style.scss */
.review a:active {
  text-decoration: none;
}
/* line 1073, ../sass/style.scss */
.review a:visited {
  color: #6611cc;
}
/* line 1076, ../sass/style.scss */
.review p {
  font-family: arial;
  font-size: 13px;
  color: #333333;
  line-height: 1.6;
  margin-top: 10px;
}

/* line 1085, ../sass/style.scss */
.review_2 img {
  margin-top: 34px;
}

/* line 1090, ../sass/style.scss */
.review_1 img, .review_2 img {
  margin-bottom: 22px;
}

/* line 1095, ../sass/style.scss */
.review_3 img, .review_4 img {
  margin-bottom: 10px;
}

/* line 1102, ../sass/style.scss */
footer {
  border-top: 4px solid #175b8e;
  margin: 0 10px;
}

/* line 1106, ../sass/style.scss */
.nav_footer {
  margin-bottom: 35px;
}
/* line 1108, ../sass/style.scss */
.nav_footer p {
  margin-top: 20px;
}
/* line 1111, ../sass/style.scss */
.nav_footer ul {
  margin: 5px 0 0 0;
}
/* line 1113, ../sass/style.scss */
.nav_footer ul li {
  display: inline-block;
}
/* line 1115, ../sass/style.scss */
.nav_footer ul li a {
  text-decoration: none;
  line-height: 1.3;
  border-bottom: 1px solid #105a8f;
  color: #105a8f;
  font-size: 13px;
  font-family: arial;
  margin: 0 12px 0 0;
}
/* line 1124, ../sass/style.scss */
.nav_footer ul li a:hover {
  border-bottom: none;
}
/* line 1128, ../sass/style.scss */
.nav_footer ul img {
  margin: 0 0 -4px 0;
}

/* line 1133, ../sass/style.scss */
.article_footer_little_screen {
  display: none;
}

/* line 1136, ../sass/style.scss */
.article_footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* line 1146, ../sass/style.scss */
.article_footer > div {
  width: 20%;
  margin-right: 5%;
}

/* line 1150, ../sass/style.scss */
.adress {
  font-family: arial;
  font-size: 13px;
  color: #333333;
  line-height: 1.7;
}

/* line 1156, ../sass/style.scss */
.phone_footer {
  font-size: 24px;
  font-family: arial;
  color: #333333;
  font-weight: 600;
  margin-bottom: 10px;
}
/* line 1162, ../sass/style.scss */
.phone_footer span {
  font-weight: 400;
}

/* line 1166, ../sass/style.scss */
.article_footer .call_back {
  margin: 0 0;
}

/* line 1169, ../sass/style.scss */
.feedback {
  border: none;
  background: url(https://image.ibb.co/hP27Sx/footer_button.png);
  height: 28px;
  width: 168px;
  cursor: pointer;
  margin: 17px 0 40px -15px;
}

/* line 1177, ../sass/style.scss */
.time {
  font-family: arial;
  font-size: 13px;
  line-height: 1.7;
  color: #333333;
  font-weight: 600;
}

/* line 1184, ../sass/style.scss */
.day {
  font-family: arial;
  font-size: 13px;
  line-height: 1.7;
  color: #333333;
}

/* line 1190, ../sass/style.scss */
.payment {
  font-family: arial;
  font-size: 13px;
  line-height: 2.15;
  color: #333333;
  margin-top: 15px;
}
/* line 1196, ../sass/style.scss */
.payment img {
  width: 215px;
  height: 25px;
}

/* line 1201, ../sass/style.scss */
.social div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 1210, ../sass/style.scss */
.social div a {
  font-family: arial;
  font-size: 13px;
  color: #105a8f;
}
/* line 1215, ../sass/style.scss */
.social div a:hover {
  text-decoration: none;
}

/* line 1219, ../sass/style.scss */
.facebook_img {
  background: url(https://image.ibb.co/fUbCuc/social.png);
  width: 29px;
  height: 30px;
  background-position: 0 0;
  margin-right: 5px;
}

/* line 1226, ../sass/style.scss */
.vk_img {
  background: url(https://image.ibb.co/fUbCuc/social.png);
  width: 29px;
  height: 30px;
  background-position: 0 -30px;
  margin-right: 5px;
}

/* line 1233, ../sass/style.scss */
.twitter_img {
  background: url(https://image.ibb.co/fUbCuc/social.png);
  width: 29px;
  height: 31px;
  background-position: 0 -60px;
  margin-right: 5px;
}

/* line 1240, ../sass/style.scss */
.facebook_link, .vk_link, .twitter_link {
  margin-left: 5px;
}

/* line 1243, ../sass/style.scss */
.owox {
  font-family: arial;
  font-size: 11px;
  line-height: 1.6;
  color: #4e4e4e;
}
/* line 1248, ../sass/style.scss */
.owox a {
  color: #0066aa;
}
/* line 1251, ../sass/style.scss */
.owox a:hover {
  text-decoration: none;
}
/* line 1254, ../sass/style.scss */
.owox span {
  color: #999999;
}

/* line 1258, ../sass/style.scss */
.terms_of_use {
  font-family: arial;
  font-size: 13px;
  color: #333333;
  line-height: 1.5;
  padding-bottom: 55px;
}

/* line 1265, ../sass/style.scss */
.terms_of_use:hover {
  text-decoration: none;
}
