html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}
a img {
  border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
body {
  margin: 20px;
  background: url(https://storage.realist.online/uploads/public/5a0/b13/cdf/thumb_77282_1280x700_0_0_crop.png);
  background-size: 100%;
}
header {
  display: flex;
  justify-content: center;
  color: #fff;
}
header div {
  font-size: 32px;
}
main {
  width: 69%;
  margin-top: 20px;
  float: left;
}
.location, .map {
  width: 100%;
}
.location {
  display: flex;
  border: 1px solid #fff;
  background: #333;
  color: #fff;
}
.location p {
  margin: 15px 0 15px 20px;
  font-weight: bold;
}
aside {
  margin-top: 20px;
  width: 30%;
  float: right;
}
.time, .people {
  width: 100%;
}
.time {
  border: 1px solid #fff;
  background: #333;
}
.time p {
  height: 15px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 5px;
  color: #FFF;
}
#dat {
  height: 16px;
  font-weight: normal;
  margin-bottom: 5px;
}
.people {
  margin-top: 20px;
  border: 1px solid #fff;
  height: 500px;
  background: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#crew p {
  border: 1px solid #fff;
  height: 50px;
  display: flex;
  margin: 5px;
  border-radius: 5px;
}
#amount {
  border-top: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  padding: 20px;
}
#human1, #human2, #human3, #human4, #human5, #human6 {
  font-size: 18px;
  margin: 0 auto;
  align-self: center;
  color: #fff;
}
#map {
        height: 500px;
        width: 100%;
        margin-top: 20px;
}